# Ignore node_modules in both frontend and backend
taskzen-frontend/node_modules/
taskzen-backend/node_modules/

# Ignore env files
taskzen-frontend/.env
taskzen-backend/.env

# Optional: ignore system or editor files
.DS_Store
*.log